<div class="calendar">
    {% include 'faerun_calendar/month.html' with title="Хаммер" subtitle="Глубокозимье" %}
    {% include 'faerun_calendar/month.html' with title="Зимний солнцеворот" subtitle="Мертвозимье" oneday=1 %}
    {% include 'faerun_calendar/month.html' with title="Альтурик" subtitle="Коготь зимы" %}
    {% include 'faerun_calendar/month.html' with title="Чез" subtitle="Коготь закатов" %}
    {% include 'faerun_calendar/month.html' with title="Тарсак" subtitle="Коготь бурь" %}
    {% include 'faerun_calendar/month.html' with title="Зеленотравье" oneday=1 %}

    {% include 'faerun_calendar/month.html' with title="Миртул" subtitle="Таяние" %}
    {% include 'faerun_calendar/month.html' with title="Кайторн" subtitle="Время цветов" %}
    {% include 'faerun_calendar/month.html' with title="Флеймрул" subtitle="Разгар лета" %}
    {% include 'faerun_calendar/month.html' with title="Летний солнцеворот" oneday=1 %}
    {% include 'faerun_calendar/month.html' with title="Шильдмит*" oneday=1 %}
    {% include 'faerun_calendar/month.html' with title="Элесис" subtitle="Солнцестояние" %}

    {% include 'faerun_calendar/month.html' with title="Элейнт" subtitle="Увядание" %}
    {% include 'faerun_calendar/month.html' with title="Праздник урожая" oneday=1 %}
    {% include 'faerun_calendar/month.html' with title="Марпенот" subtitle="Листопад" %}
    {% include 'faerun_calendar/month.html' with title="Уктар" subtitle="Перегной" %}
    {% include 'faerun_calendar/month.html' with title="Пир луны" oneday=1 %}
    {% include 'faerun_calendar/month.html' with title="Найтал" subtitle="Спячка" %}
</div>
