{% extends 'main/pagetemplate.html' %}

{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'faerun_calendar/css/main.css' %}">
{% endblock %}

{% block pagetitle %}
Календарь
{% endblock %}

{% block content %}
<div class="calendarpage">
    {% if type == 'year' %}
        <h1 class="title">Календарь</h1>

        <div class="current-year">
        {% if year_data.previous_year %}
            <a draggable="false" class="arrow left" href="{{root}}{{year_data.previous_year.number}}"></a>
        {% else %}
            <a draggable="false" class="arrow left" disabled></a>
        {% endif %}

        <h2 class="year">Год {{year_data.number}}-й</h2>

        {% if year_data.next_year %}
            <a draggable="false" class="arrow right" href="{{root}}{{year_data.next_year.number}}"></a>
        {% else %}
            <a draggable="false" class="arrow right" disabled></a>
        {% endif %}
        </div>

        <hr>

        <div class="calendar">
            {% for month in months %}
                {% include 'faerun_calendar/month.html' with month=month %}
            {% endfor %}
        </div>
    {% elif type == 'day' %}
        <h1 class="title">Календарь — События</h1>

        <h2 class="year">Год {{year_data.number}}-й, {{month_data.name}}{% if not month_data.is_oneday %}, день {{day}}-й{% endif %}</h2>

        <div class="calendar-events">
            {% if events.count == 0 %}
                <p class="calendar-info">Событий нет</p>
            {% else %}
                {% for event in events %}
                    {% if event.is_suggested %}
                        <div class="event-suggested">
                    {% elif event.is_only_for_gm %}
                        <div class="event-gm">
                    {% else %}
                        <div class="event">
                    {% endif %}

                        <div class="event-time">{{event.time}}</div>
                        <div class="event-title">{{event.title}}</div>
                        <p class="event-description">{{event.description}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% elif type == 'error' %}
        <h1 class="title">Календарь — Ошибка</h1>

        <div class="calendar-error">
            {% if error_type == 'year' %}
                <p class="calendar-error">Неверный год</p>
            {% elif error_type == 'month' %}
                <p class="calendar-error">Неверный месяц</p>
            {% elif error_type == 'day' %}
                <p class="calendar-error">Неверный день</p>
            {% elif error_type == 'unknown' %}
                <p class="calendar-error">Неизвестная ошибка</p>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
