{% extends 'main/pagetemplate.html' %}

{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'faerun_calendar/css/main.css' %}">
{% endblock %}

{% block pagetitle %}
Календарь
{% endblock %}

{% block content %}
<div class="calendarpage">
    <h1 class="title">Календарь</h1>

    <h2 class="year">{{year_data.number}}</h2>
    <div class="calendar">
        {% for month in month_data %}
            {% if not month.is_leap_month or year_data.is_leap %}
                {% include 'faerun_calendar/month.html' with month=month calendar_data=calendar_data month_days=month_days events=events %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
