<div class="month">
    <table class="month">
        <tr>
            <th colspan="10" class="title">{{month.name}}</th>
        </tr>
        {% if month.folkname %}
            <th colspan="10" class="subtitle">{{month.folkname}}</th>
        {% endif %}

        {% if not month.is_oneday %}
            {% for day in month_days %}
                {% if forloop.counter0|divisibleby:10 %}
                    <tr>
                {% endif %}

                {% if day == calendar_data.current_day and year_data == calendar_data.current_year and month == calendar_data.current_month %}
                    <td class="current">
                {% else %}
                    <td>
                {% endif %}

                <div>{{day}}</div>

                </td>

                {% if forloop.counter|divisibleby:10 %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </table>
</div>
