<div class="month">
    <table class="month">
        <tr>
            {% if not month.is_oneday %}
            <th colspan="10" class="title">
                {{month.name}}
            {% else %}
                {% if month.days.0.event_counts %}
            <th colspan="10" class="title with_events">
                {% else %}
            <th colspan="10" class="title">
                {% endif %}
                <a href="{{root}}{{year_data.number}}/{{month.number}}/{{1}}">{{month.name}}</a>
            {% endif %}
            </th>
        </tr>
        {% if month.folkname %}
            <th colspan="10" class="subtitle">{{month.folkname}}</th>
        {% endif %}

        {% if not month.is_oneday %}
            {% for day in month.days %}
                {% if forloop.counter0|divisibleby:10 %}
                    <tr>
                {% endif %}

                {% if day.event_counts %}
                    <td class="with_events">
                {% else %}
                    <td>
                {% endif %}
                {% if day.number == calendar_data.current_day and month.id == calendar_data.current_month.id and year_data.id == calendar_data.current_year.id %}
                    <a class="current_day" href="{{root}}{{year_data.number}}/{{month.number}}/{{day.number}}">{{day.number}}</a>
                {% else %}
                    <a href="{{root}}{{year_data.number}}/{{month.number}}/{{day.number}}">{{day.number}}</a>
                {% endif %}

                </td>

                {% if forloop.counter|divisibleby:10 %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </table>
</div>
