div.content.calendar hr {
    border: 0;
    border-top: 1px solid #000000;
    opacity: 1;
    margin: 30px 0px 10px;
}

div.content.calendar h2 {
    text-align: center;
}

div.content.calendar a.button.year {
    margin: auto;
}

div.content.calendar a.arrow.left {
    margin-left: auto;
    margin-right: 40px;
}

div.content.calendar a.arrow.right {
    margin-right: auto;
    margin-left: 40px;
}

div.current-year {
    display: flex;
    justify-content: space-between;
}

hr {
  border: 10px solid green;
  border-radius: 5px;
}

table.month, table.month th, table.month td {
    border: 1px solid #fefefe;
    border-collapse: collapse;
    background: #dcdcdc;
}

table.month th {
    text-align: center;
    padding: 5px;
}

table.month td {
    text-align: center;
    padding: 5px 0px;
}

table.month td.with_events,
table.month th.with_events {
    background: #0080c0;
}

table.month th.subtitle {
    font-style: italic;
    font-weight: normal;
}

table.month a {
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

table.month a.current_day {
    border: 3px solid #dc143c;
    padding: 2px;
    border-radius: 50%;
}

table.month td.with_events a,
table.month th.with_events a {
    color: #fefefe;
}

div.content.calendar div.calendar {
    column-width: 350px;
    column-rule: 1px solid #000000;
    column-gap: 25px;
}

div.calendar-events {
    column-width: 725px;
    column-rule: 1px solid #000000;
    column-gap: 25px;
}

div.month {
    break-inside: avoid;
}

div.calendar-events > p,
div.calendar-error > p {
    text-align: center;
}

table.month {
    margin: auto;
    margin-bottom: 15px;
    width: 350px;
    max-width: 350px;
}

div.event,
div.event-gm,
div.event-suggested {
    border: 1px solid #000000;
    padding: 20px;
    padding-bottom: 0px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    max-width: 700px;
    break-inside: avoid;
    background: #f0f0f0;
}

div.event {
    border: 1px solid #000000;
}

div.event-gm {
    border: 2px solid #0080c0;
}

div.event-suggested {
    border: 2px solid #dc143c;
}

div.event-time {
    border: 1px solid #000000;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 3px 5px;
    margin-right: 15px;
    margin-left: -21px;
    margin-top: -21px;
    float: left;
    font-weight: bold;
    background: #696969;
    color: #fefefe;
    font-size: 150%;
    min-width: 100px;
    text-align: center;

}

div.event-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 200%;
    margin-bottom: 10px;
    margin-top: -21px;
}

p.event-description {
    margin: 0px;
    padding: 0px;
}

p.calendar-error {
    color: #dc143c;
    font-size: 200%;
}

p.calendar-info {
    font-size: 200%;
}

