div.calendarpage {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

table.month, table.month th, table.month td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    background: gainsboro;
}

table.month th {
    text-align: center;
}

table.month td {
    text-align: right;
}

table.month td.current {
    background: dimgrey;
    color: white;
}

table.month th.subtitle {
    font-style: italic;
    font-weight: normal;
}

div.month {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

table.month {
    margin: 10px;
    width: 300px;
    max-width: 300px;
    border-radius: 10px;
}
