div.calendarpage {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

h2.year {
    text-align: center;
}

table.month, table.month th, table.month td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    background: gainsboro;
}

table.month th {
    text-align: center;
}

table.month td {
    text-align: right;
}

table.month td.current {
    background: dimgrey;
}

table.month th.subtitle {
    font-style: italic;
    font-weight: normal;
}

table.month td a {
    text-decoration: none;
    color: black;
}

table.month td.current a {
    color: white;
}

div.calendar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

table.month {
    margin: 10px;
    width: 350px;
    max-width: 350px;
}
